psycopg2-binary
ipython
pandas
matplotlib
ipykernel
apache-airflow[docker,postgres,mongo,mssql,statsd]
google-cloud-storage
gsutil
google-cloud-bigquery
flask_bcrypt
docker
redis
kafka-python
simplejson
asyncio
sqlalchemy < 1.4.0 # required because without it Airflow will have error
fsspec
pulsar-client
fastavro
